# train-test-split

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [4]:
data = pd.DataFrame({
    "study_Hours":[1,2,3,4,5,6,7,8],
    "Marks":[35,40,50,55,65,70,80,85]
})

In [5]:
data

   study_Hours  Marks
0            1     35
1            2     40
2            3     50
3            4     55
4            5     65
5            6     70
6            7     80
7            8     85

In [9]:
X=data[["study_Hours"]]
y=data["Marks"]

In [12]:
X_train,X_test, y_train,y_test = train_test_split(X, y,test_size=0.20,random_state=44)

In [13]:
X_train

   study_Hours
0            1
7            8
6            7
1            2
3            4
4            5

In [15]:
X_test.shape

(2, 1)

In [16]:
X_train.shape

(6, 1)

# real time dataset

In [17]:
diabetes = pd.read_csv("https://github.com/YBIFoundation/Dataset/raw/main/Diabetes.csv")

In [25]:
diabetes

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [33]:
diabetes.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [34]:
y = diabetes['diabetes']

In [35]:
x = diabetes.drop(['diabetes'], axis=1)

In [36]:
x = diabetes[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin',
                      'dpf', 'age']]

In [38]:
x_train,x_test, y_train,y_test = train_test_split(x, y,test_size=0.20,random_state=44)

In [39]:
x_train

     pregnancies  glucose  diastolic  triceps  insulin    dpf  age
626            0      125         68        0        0  0.206   21
137            0       93         60       25       92  0.532   22
570            3       78         70        0        0  0.270   39
561            0      198         66       32      274  0.502   28
475            0      137         84       27        0  0.231   59
..           ...      ...        ...      ...      ...    ...  ...
96             2       92         62       28        0  0.130   24
571            2      130         96        0        0  0.268   21
173            1       79         60       42       48  0.678   23
753            0      181         88       44      510  0.222   26
419            3      129         64       29      115  0.219   28

[614 rows x 7 columns]